{#- master snippet for all scheming display fields -#}
{#- render the field the user requested, or use a default field -#}
{%- set display_snippet = field.display_snippet -%}

{%- if not display_snippet -%}
  {%- if field.repeating_subfields -%}
    {%- set display_snippet = 'repeating_subfields.html' -%}
  {%- elif field.simple_subfields -%}
    {%- set display_snippet = 'simple_subfields.html' -%}
  {%- elif h.scheming_field_choices(field) -%}
    {%- set display_snippet = 'select.html' -%}
  {%- else -%}
    {%- set display_snippet = 'text.html' -%}
  {%- endif -%}
{%- endif -%}

{%- if '/' not in display_snippet -%}
  {%- set display_snippet = 'scheming/display_snippets/' + display_snippet -%}
{%- endif -%}

{%- if field.field_name in data -%}   
  {%- if data[field.field_name] is mapping -%}
      {%- set display_snippet = 'scheming/display_snippets/fluent_text.html' -%}
      {%- if h.scheming_language_text(data[field.field_name]) is eq '' -%}
        &nbsp;
      {%- endif -%}
  {%- endif -%}

  {%- snippet display_snippet,
    field=field,
    data=data,
    errors=errors,
    entity_type=entity_type,
    object_type=object_type
  -%}
{%- endif -%}
