{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if (h.scheming_field_by_name(schema.dataset_fields, 'notes') or
    h.scheming_field_by_name(schema.dataset_fields, 'notes_translated')) and
    pkg.notes%}
    <div class="notes embedded-content"
        data-module="truncate"
        data-max_length="750"
        data-more="{{ _('read more') }} >>"
        data-less="<< {{ _('read less') }}"
        data-link_prefix=""
        data-link_suffix=""
        data-collapsed="false"
        data-css_more_class="truncator-link truncator-more"
        data-css_less_class="truncator-link truncator-less">
      {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
    </div>
  {% endif %}
  {% asset 'ckanext-cioos_theme/truncate_js' %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}
