{% import 'macros/form.html' as form %}
{% set uri = h.cioos_get_fully_qualified_package_uri(
    data,
    uri_field=field.display_uri_field or field.display_uri_field_prefix )|first
%}
{% if uri and h.is_url(uri) %}
  <a href="{{uri}}">
  {{ data[field.field_name] }}
  {% if 'orcid.org' in uri %}
    <img alt="ORCID logo" src="/base/images/orcid.logo.icon.svg" class="identifier_icon_list" />
  {% elif 'ror.org' in uri %}
    <img alt="ROR logo" src="/base/images/ror.svg" class="identifier_icon_list" />
  {% elif 'wikidata' in uri %}
    <img alt="wiki logo" src="/base/images/wikidata.png" class="identifier_icon_list" />
  {% endif %}
  </a>
{% else %}
  {{ data[field.field_name] }}
{% endif %}
