{% import 'macros/form.html' as form %}
{% if data[field.display_uri_field] %}
  <a href="{{data[field.display_uri_field]}}">
  {{ data[field.field_name] }}
  {% if 'orcid.org' in data[field.display_uri_field] %}
    <img alt="ORCID logo" src="/base/images/orcid.logo.icon.svg" class="identifier_icon_list" />
  {% elif 'ror.org' in data[field.display_uri_field] %}
    <img alt="ROR logo" src="/base/images/ror.svg" class="identifier_icon_list" />
  {% elif 'wikidata' in data[field.display_uri_field] %}
    <img alt="wiki logo" src="/base/images/wikidata.png" class="identifier_icon_list" />
  {% endif %}
  </a>
{% else %}
  {{ data[field.field_name] }}
{% endif %}
