{% import 'macros/form.html' as form %}
{% if data[field.display_uri_field] %}
  <a href="{{data[field.display_uri_field]}}">
  {{ data[field.field_name] }}
  {% if 'orcid.org' in data[field.display_uri_field] %}
    <img alt="ORCID logo" src="/base/images/ORCIDiD_icon16x16.png" width="16" height="16" />
  {% elif 'ror.org' in data[field.display_uri_field] %}
    <img alt="ROR logo" src="/base/images/ror-logo-small.png" height="16" />
  {% elif 'wikidata' in data[field.display_uri_field] %}
    <img alt="wiki logo" src="/base/images/wikidata.png" height="16" />
  {% endif %}
  </a>
{% else %}
  {{ data[field.field_name] }}
{% endif %}
